<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/animate.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    {{ghost_head}}
</head>
<body id="particles-js">
<div id="main" class="animated bounceInDown">
    <div class="subdiv">
        <div class="subdiv">
            <h1>Alec von Barnekow</h1>
            <h2>Developer</h2>
            <h3>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 150" style="enable-background:new 0 0 100 150;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M97.8,68.5l-35.5,75.6c-2.1,4.3-6.5,6.9-11.2,6.9s-9.2-2.6-11.1-6.9L4.2,68.5C1.7,63.1,1,57,1,51
                            C1,23.4,23.4,1,51,1s50,22.4,50,50C101,57,100.3,63.1,97.8,68.5z M51,26c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25
                            S64.8,26,51,26z" style="fill: rgb(61, 61, 61);"></path>
                    </g>
                </svg>
                Switzerland
            </h3>
            <div id="stalk-me" class="animated fadeIn">
                <h1>Stalk me!</h1>
                <ul>
                	<li><a title="Blog" target="_blank" href="{{@blog.url}}/blog"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                    <li><a title="Facebook" target="_blank" href="https://facebook.com/alec.vonbarnekow"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a title="Twitter" target="_blank" href="https://twitter.com/fralec_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a title="Linkedin" target="_blank" href="https://www.linkedin.com/in/alec-von-barnekow-ab525ba2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a title="Github" target="_blank" href="https://github.com/fralec"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a title="Email me" target="_blank" href="mailto:von.barnekow.alec@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    <li><a title="Portfolio" target="_blank" href="{{@blog.url}}/portfolio"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    <li><a title="About me" target="_blank" href="{{@blog.url}}/about-me"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/tippy.js/dist/tippy.all.min.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/script.js"></script>
{{ghost_foot}}
</body>
</html>